* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url(images/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding-left: 10%;
    padding-top: 1%;
}
header a{
    font-family: Megrim !important;
    color: rgb(52, 52, 53);
    font-size: 30px;
    text-decoration: none;
}
#main{
align-content: center;
text-align: center;
height: 80vh;
}
*:focus {
    outline: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input[type=text] {
    padding: 0px 20px;
    border: none;
    width: 390px;
    font-size: 18px;
    border-radius: 50px 0px 0px 50px;
    height: 50px;
}

.submitBtn {
    border: none;
    width: 130px;
    margin-left: -4px;
    color: white;
    font-size: 18px;
    background-color: #2196F3;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
    height: 50px;
}
.submitBtn:disabled{
    cursor: not-allowed;
}

.toggleSwitch {
    display: grid;
    grid-template-columns: 100px 70px 100px;
    grid-gap: 10px;
    justify-self: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.top {
    display: flex;
    justify-content: center;
}

.divLeft {
    justify-self: end;
}

.divcenter {
    justify-self: center;
}

.toggleSwitch p {
    margin: 10px;
}

#download__button{
        display: inline-block;
        border: none;
        margin:10px auto;
        color: white;
        font-size: 18px;
        background-color: #2196F3;
        border-radius: 50px;
        cursor: pointer;
        padding:15px 20px
}
#image{
    padding-top: 30px;
}


.loader{
    display: grid;
    grid-template-columns: 1fr;
}
#loader{
    margin-top: -150px;
    pointer-events: none;
    justify-self: center;
}
.loader__message{
    margin-top: -150px;
}
footer,footer a{
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(46, 46, 46);
    color: white;
}
footer{
    position: fixed;
    width: 100vw;
    bottom: 0;
}

@media screen and (max-width:480px){
    input[type=text] {
        width: 230px;
    }
    .submitBtn {
        width: 100px;}
        input[type=text]::placeholder{
            font-size: 12px;
        }
        #loader{
            max-width: 100vw;
        }
        lottie-player{
            width: 300px !important;
            height: 500px !important;
        }
}